@Model ImageModel
<div id="container">
    <div class="photobanner">
        List<string>
            images = new List<string>
                ();
                images.Add("D:\\Large\\1.jpg");
                images.Add("D:\\Large\\2.jpg");
                
                return View(images);

                foreach(var item in Model)
                {
                <img src=item alt="Sample Image" width:"300px" />
                }
    </div>
</div>
    
