@*@using System.Web.Optimization*@
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<title>Green Valley Motel - Williamstown, MA, USA</title>
<meta name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0" />
@*<script src="http://code.jquery.com/jquery.js"></script>*@
<link href="~/Content" rel="stylesheet" media="screen" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen" />
<link rel="icon" href="~/Images/Ohm1.ico" />
@Styles.Render("/Content")
@Scripts.Render("/Scripts")
<div>
    @*padding:0px 0px 0px 0px*@
    <table style="width:100%; border:solid;">
        <tr>
            <td style="height:50px">
                <div class="motel-desc" style="line-height:2">
                    <p style="text-align:left">On historic Route 7 and 2 miles North of the center of Williamstown, and the Williams College campus, the Green Valley Motel offers its guests simple, clean, comfortable rooms with modern amenities at reasonable rates.</p>
                    <p style="text-align:left">The Green Valley Motel is near Massachusetts College of Liberal Arts, Bennington College and Berkshire Community College, as well as many nearby cultural and historic attractions.</p>
                    <p style="text-align:left">The pet friendly Green Valley Motel’s amenities include, a new, deluxe high-speed WI-FI internet access system and coffee in guest rooms, children under 12 stay free, and free parking.</p>
                    <p style="text-align:left">All guest rooms include microwave, mini fridge, free local calls, cable TV, shampoo, lotion and air conditioning.</p>
                    <p style="text-align:left">For weekly rates and WI-FI access, please contact the hotel directly.</p>
                    <p style="text-align:left">There is a $20 fee per pet.</p>
                </div>
            </td>
        </tr>
    </table>
    <table style="width:100%; border:solid; padding:0px 0px 0px 0px">
        <tr>
            <td style="height:50px">
                <div class="motel-desc" style="line-height:2">
                    <p style="font:200; text-align:left; background-color:aqua"><b style="color:red">Property Location</b></p>
                    With a stay at Green Valley Motel in Williamstown, you'll be close to Williamstown Historical Museum and 62 Center for Theater and Dance. This motel is within close proximity of Williams College and part of MassMOCA fastival.
                    <p style="font:200; background-color:aqua"><b style="color:red">Rooms</b></p>
                    Make yourself at home in one of the 18 air-conditioned rooms featuring refrigerators and microwaves. Complimentary wireless Internet access keeps you connected, and cable programming is available for your entertainment. Private bathrooms with shower/tub combinations feature complimentary toiletries and hair dryers. Conveniences include phones and coffee/tea makers, and housekeeping is provided daily.
                </div>
            </td>
        </tr>
    </table>

    <table style="width:100%; padding:0px 0px 0px 0px">
        <tr>
            <th style="width:25%; border:solid" rowspan="2">
                <img src="~/Images/Motel_Sign2.jpg" style="height:150px; width:100%" />
                <p style="font:200; background-color:aqua"><b style="color:red">AIRPORTS</b></p>
                <p>Albany International Airport (ALB)	29.8 mi</p>
                <p style="font:200; background-color:aqua"><b style="color:red">SHOPPING</b></p>
                <p>Bennington Potters Yard	0.0 mi</p>
                <p>Fiddlehead at Four Corners	0.0 mi</p>
                <p style="font:200; background-color:aqua"><b style="color:red">GOLF</b></p>
                <p>Haystack Golf and Country Club	0.0 mi</p>
                <p style="font:200; background-color:aqua"><b style="color:red">THEATER</b></p>
                <p>62 Center for Theater and Dance	0.0 mi</p>
            </th>
            <th style="width:25%; border:solid" rowspan="2">
                <img src="~/Images/InternetWiFi.jpg" style="height:150px; width:100%" alternatetext="AAA Discount" />
                <p style="font:200; background-color:aqua"><b style="color:red">HISTORIC & MUSEUMS</b></p>
                <p>Mass MoCA</p>
                <p>Sterling and Francine Clark Art Institute</p>
                <p>Williams College Museum of Art</p>
                <p>Bennington Museum</p>
                <p>Bennington Arts Guild Gallery</p>
                <p>Bennington Battlefield Park</p>
                <p>Bennington Center for the Arts</p>
                <p>Old First Congregational Church</p>
                <p>Park McCullough House</p>
                <p>Robert Frost Stone House Museum</p>
            </th>
        </tr>
        <tr>
            <th style="width:25%; border:solid">
                <img src="~/Images/AARP10.jpg" style="height:150px; width:100%" alternatetext="AAA Discount" />
                <p style="font:200; background-color:aqua"><b style="color:red">LANDMARKS</b></p>
                <p>Mount Greylock</p>
                <p>Hopkins Observatory</p>
                <p>Williams College</p>
                <p>Bennington Battle Monument</p>
                <p>Grafton Lakes State Park</p>
                <p>Mount Greylock State Reservation Visitor Center</p>
                <p>Southern Vermont College</p>
                <p>Bennington College</p>
                <p>Harmen Hills Trail</p>
            </th>
            <th style="width:25%; border:solid">
                <img src="~/Images/Motel_Sign1.jpg" style="height:150px; width:100%" />
                <p style="font:200; background-color:aqua"><b style="color:red">FEATURED AMENITIES</b></p>
                <asp:BulletedList ID="BulletedList2" BulletStyle="Circle">
                    <p>24- hour front desk</p>
                    <p>Free RV, bus, truck parking</p>
                    <p>Free WiFi</p>
                    <p>Free self parking</p>
                    <p>Pets allowed</p>
                    <p># of buildings - 2</p>
                    <p>Number of floors - 2</p>
                    <p>Outdoor pool</p>
                    <p>Pool sun loungers</p>
                    <p>Total number of rooms - 18</p>
                    <p>Tours/ticket assistance</p>
                </asp:BulletedList>
            </th>
        </tr>
    </table>
</div>
