@*@using System.Web.Optimization*@
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<title></title>
<meta name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0" />
<script src="http://code.jquery.com/jquery.js"></script>
<link href="~/Content" rel="stylesheet" media="screen" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen" />
@Styles.Render("/Content")
@Scripts.Render("/Scripts")

<div id="Motel_Picture" style="padding:0px; width:100%" padding-bottom="padding-bottom:0px">

    <table style="width:100%; border:none; background-color:aqua" cellpadding="0" cellspacing="0">
        <tr style="height:200px; width:100%">
            <td style="width:25%">
                <img src="~/Images/Motel_1_Storey1.jpg" style="height:200px; width:100%" />
            </td>
            <td style="width:25%">
                <img src="~/Images/Two Storey2.jpg" style="height:200px; width:100%" />
            </td>
            <td style="width:25%">
                <img src="~/Images/Swimming_Pool1.jpg" style="height:200px; width:100%" />
            </td>
            <td style="width:25%">
                <img src="~/Images/Motel_House2.jpg" style="height:200px; width:100%" />
            </td>
        </tr>
    </table>
</div>    