@*@using System.Web.Optimization*@
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<title></title>
<meta name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0" />
<script src="http://code.jquery.com/jquery.js"></script>
<link href="~/Content" rel="stylesheet" media="screen" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen" />
@Styles.Render("/Content")
@Scripts.Render("/Scripts")
<div>

    <table style="background-color: gray; width:100%" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width:20%; text-align:left">

                <div id="divCurrentPage" title="lblCurrentPage" style="border:medium">
                    Current Page
                </div>

            </td>
            <td>

                <div id="divLastName" title="lblCurrentPage" style="border:medium">
                    User Name
                </div>
            </td>
            <td>

                <div id="divEmailAddress" title="lblCurrentPage" style="border:medium">
                    Email Address
                </div>
            </td>
            <td>

                <div id="divUserRole" title="lblCurrentPage" style="border:medium">
                    User Role
                </div>
            </td>
        </tr>
    </table>
</div>
