@*@using System.Web.Optimization*@
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<title></title>
<meta name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0" />
<script src="http://code.jquery.com/jquery.js"></script>
<link href="~/Content" rel="stylesheet" media="screen" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen" />
@Styles.Render("/Content")
@Scripts.Render("/Scripts")

<div>
    <table style="width:100%; padding:0px 0px 0px 0px">
        <tr>
            <th border="solid">
                <img src="~/Images/WeeklyRates.JPG" style="height:200px; width:100%" />
                <img src="~/Images/CashAccept.JPG" style="height:200px; width:100%" />
                <img src="~/Images/Motel_Picnic1.jpg" style="height:200px; width:100%" />
                <img src="~/Images/Free_CableTV.JPG" style="height:200px; width:100%" />
                <img src="~/Images/Dog_Friendly.JPG" style="height:200px; width:100%" />
            </th>
        </tr>
    </table>
</div>

