<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0" />
    @*<link href="~/Content" rel="stylesheet" media="screen" />*@
    <meta name="viewport" charset="utf-8" content="width=device-width" />
    @*<script src="~/Scripts/bootstrap.min.js"></script>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen" />*@
    <link href="~/css/smita.css" rel="stylesheet" />
</head>
<body>
    <form>
        <div id="SmitaTopBar" class="SmitaTopBar" style="width:auto">
            <table style="width:100%">
                <tr style="height:50px; width:100%">
                    <td style="width:20%">
                        <div class="smita-picture">
                            <img class="smita-picture" src="~/Images/Smita_2019.jpg" />
                        </div>
                    </td>
                    <td style="width:70%">
                        <div id="smita-description" class="smita-description">Shree Hospitality LLC</div>
                    </td>
                    <td style="width:20%">
                        <div class="smita-phone" id="smita-phone">413-801-0127</div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>