@{
    Layout = "~/Views/Shared/Devre_Layout.cshtml";
}

<h2>Clients</h2>
<div>
    <div style="font-size:xx-large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
        <p>
            Clients
        </p>
    </div>
</div>
<table style="width:100%">
    <tr>
        <td style="height:150px; width:25%">
            <img id="clients" bordercolor="YellowGreen" borderstyle="Outset" src="/Images/clients.jpg" />
        </td>
        <td style="height:150px; width:75%">
            <div>
                <p>
                    Shree utilizes products and services from leading technology and consulting services providers to augment and expand the value of our solutions across different areas.
                </p>
            </div>
        </td>
    </tr>
</table>
<div>
    <p>
        To provide our clients with the best technology solutions in the marketplace, we have leverage upon leading software solution providers and consultancy firms. This leverage ensures that we provide proven technology and industry solutions based on specific client needs.
    </p>
</div>


