@{
    Layout = "~/Views/Shared/Devre_Layout.cshtml";
}
<div>
    <div style="font-size:xx-large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
        <p>
            Consultants
        </p>
    </div>
</div>
<table style="width:100%">
    <tr>
        <td style="height:150px; width:25%">
            <asp:Image ID="clients" BorderColor="YellowGreen" BorderStyle="Outset" runat="server" ImageUrl="/Images/clients.jpg" />
        </td>
        <td style="height:150px; width:75%">
            <div>
                <p>
                    Shree has latest technology experience consultants.
                </p>
            </div>
        </td>
    </tr>
</table>


