@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1214 Simonds Road<br />
    Williamstown, MA 01267-0000<br />
    <abbr title="Phone">P:</abbr>
    413.458.3864
</address>

<address>
    <strong>Reservation/Inquiry:</strong>   <a href="mailto:book@motelma.com">book@motelma.com</a><br />
</address>