@{
    ViewBag.Title = "Corporate_Overview";
    Layout = "~/Views/Shared/Devre_Layout.cshtml";
}

<div>
    <div style="font-size:xx-large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
        <p>
            Corporate Overview
        </p>
    </div>
</div>
<table style="width:100%">
    <tr>
        <td style="height:150px; width:25%">
            <img id="corporate" src="/Images/corporate.jpg">
            @*<asp:Image ID="corporate" BorderColor="YellowGreen" BorderStyle="Outset" ImageUrl="/Images/corporate.jpg" />*@
        </td>
        <td style="width:75%">
            <div>
                <p>
                    (M)Shree specializes in assembling and managing dedicated teams of highly skilled technical professionals to augment your in-house resources. With corporate headquarters and software development center in Binghamton, New York. Shree offers you the convenience and security of working with a reliable U.S. corporation.
                </p>

            </div>
        </td>
    </tr>
</table>
<div>
    <p></p>
    Our team of senior software professionals is comprised of skilled, experienced problem solvers, not just coders and technicians. Our managers and software architects have the business acumen to understand your demanding working standards and produce the high quality software products you need. Our teams are comprised of the highest caliber of software designers and developers versed in development standards, best practice methodologies and all of the most popular as well as cutting edge development platforms and technologies.
    <p></p>
    Our goal is to become your long term, trusted outsource software development partner. Our teams become an extension of your own inhouse IT team, dedicated to meeting your software development needs today, and growing with you as your needs evolve. Between our inhouse resources and immediate access to highly skilled developers, we are able to create teams according to your requirements, with exactly the skills and experience you need. Whether you need one top notch technical specialist or a team with diverse skill sets to extend your own internal resources, Shree can meet your needs quickly and affordably.
</div>



