<table style="width:100%; padding:0px 0px 0px 0px">
    <tr>
        <td style="height:50px; width:50%">
            <img src="/Images/corporate.jpg" style="border-color:yellowgreen" id="corporate" />
            @*<asp:Image ID="corporate" BorderColor="YellowGreen" ImageUrl="/Images/corporate.jpg" />*@
        </td>
        <td style="height:50px; width:50%">
            <img src="/Images/software_development.jpg" style="border-color:yellowgreen" id="software_development" />
            @*<asp:Image ID="software_development" BorderColor="YellowGreen" ImageUrl="/Image/software_development.jpg" />*@
        </td>
    </tr>
    <tr>
        <td style="height:50px; width:50%">
            <div style="font-family:Arial; text-align:center; color:brown; font-size:large">
                <p><b>Corporate Overview</b></p>
            </div>
            <div style="font-family:Arial; font-size:medium">
                Shree specializes in assembling and managing dedicated teams of highly skilled technical professionals to augment your in-house resources. With corporate headquarters and software development center in Vancouver, British Columbia, Canada.
                <p></p>

            </div>
        </td>

        <td style="height:50px; width:50%">
            <div style="font-family:Arial; text-align:center; color:brown; font-size:large">
                <p><b>Application Management</b></p>
            </div>
            <div style="font-family:Arial; font-size:medium">
                Application Management outsourcing services from Shree have been designed to deliver the critical financial, productivity, quality and efficiency gains that businesses need to attain global competitiveness.
                <p></p>
            </div>
        </td>
    </tr>
</table>
<table style="width:100%">
    <tr>
        <td style="height:50px; width:50%">
            <img src="/Images/microsoft_development.jpg" style="border-color:yellowgreen" height:50px" width:10%" id="mobile_development" />
        </td>
        <td style="height:50px; width:50%">
            <img src="~/Images/virtual_cloud.jpg" style="border-color:yellowgreen" id="SiteLogo" />
        </td>
    </tr>
    <tr>
        <td style="height:50px; width:50%">
            <div style="font-family:Arial; text-align:center; color:brown; font-size:large">
                <b>Our services includes</b>
            </div>
            <div style="font-family:Arial; font-size:medium">
                <p>Custom .Net Application Development</p>
                <p>SharePoint Development & Customization</p>
                <p>Legacy System Migration</p>
                <p>SQL Server Consulting</p>
                <p>MS Dynamics CRM</p>
            </div>
        </td>


        <td style="height:50px; width:50%">
            <div id="Div2" style="font-family:Arial; text-align:center; color:brown; font-size:large">
                <b>About Us</b>
            </div>
            <div style="font-family:Arial; font-size:medium">
                Shree, headquartered in British Columbia, Canada, is a recognized leader in placing top-notched Information Technology Professional Consultants.
            </div>
            <p></p>
            <div style="font-family:Arial; font-size:medium">
                Talented professional consultant possess backgrounds and experience as diverse as some of the industries that we service.
            </div>
            <div id="Finance" style="text-align:center; font-family:Arial; font-size:medium; background-color:Red">
                Finance
            </div>
            <div id="Health" style="text-align:center;font-family:Arial; font-size:medium; background-color:Blue">
                Health Care
            </div>
            <div id="Government" style="text-align:center; font-family:Arial; font-size:medium; background-color:Purple">
                Government
            </div>
            <div id="Manufacture" style="text-align:center; font-family:Arial; font-size:medium; background-color:Fuchsia">
                Manufacturing
            </div>
        </td>
    </tr>
</table>
