
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Devre_Layout.cshtml";
}
<div style="width:100%">
    <table style="width:100%">
        <tr>
            <td style="width:75%; height:150px">
                <div>
                    <p>
                        <a href="https://www.linkedin.com/in/devreshrikant/">https://www.linkedin.com/in/devreshrikant<br /></a>
                        <a href="https://github.com/DEVRESHRIKANT/Shree_Web_Automation.git">https://github.com/DEVRESHRIKANT/Shree_Web_Automation.git<br /></a>
                        <a href="https://dev.azure.com/devreshrikant/Shree/_git/Shree">https://dev.azure.com/devreshrikant/Shree/_git/Shree<br /></a>
                        Phone/Email:  236-885-5806 / DevreBC@Gmail.Com<br />
                    </p>
                </div>
            </td>
            <td style="height:150px; width:25%">
                <img id="corporate" ; src="~/Images/MCAD.png">
            </td>
        </tr>
        <tr>
            <td>
                @*<p>
                        <iframe src="@Url.Action("MyPdf")" name="_self" style="width:100%;  height:100%">
                        </iframe>
                    </p>
                    <a href="@Url.Content("~/MyPdf.pdf")" target="_self">Master Plan</a>*@
            </td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td>
                <div style="font-size:large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
                    <p>
                        <b>SUMMARY</b>
                    </p>
                </div>
            </td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td>
                <div>
                    <p>
                        	Over 10 Years of experience in Information Technology & 5 Years+ in Quality Assurance<br />
                        	Proficient Knowledge in Client/Server, web based, windows, mobile testing<br />
                        	Professional designing, developing and implementing test plan, cases, scenarios, defects<br />
                        	Agile Methodology - Sprint Cycle & Scrum meeting, Product backlog, Future planning<br />
                        	Performance & Functional - SOAP UI by using WSDL, REST, XPath Match, JQuery<br />
                        	Database -  writing query in Oracle / MS SQL Server database and used Query Profiler<br />
                        	Automation tools - Selenium, HP (Quality Center, Quick Test Professional), C# (MTM)<br />
                        	Automation Framework - Building framework, test scripts, Continuous Integration.<br />
                        	Test Cycle - Functional, Integration, Regression, Performance, User Acceptance, Unit<br />
                        	Proficient in Bug scrum / defect review meeting for prioritization of defects to Fix<br />
                        	Professional in maintaining requirements trace matrix (RTM).<br />
                        	Mobile Applications Testing involved developed on Android, Symbian and iOS platforms<br />
                        	Proficient in Problem solving, Process improvement activities, Analytical skill, Reporting<br />
                        	Clear communicator - to ensure ability to write test plans and test cases. To communicate bugs to developers and other stakeholders<br />
                        	Deadlines and deliverables - to ensures the ability to find the bad defects and bugs quickly<br />
                        	Think abstract - to ensure ability not conform to the norm. Norms do not find bugs quickly.<br />
                    </p>
                </div>
            </td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td>
                <div style="font-size:large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
                    <p>
                        <b>TECHNICAL SKILLS</b>
                    </p>
                </div>
            </td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td><div>Languages</div></td>
            <td><div>C#, Java, SQL, PL/SQL, UML, Power Shell</div></td>
        </tr>
        <tr>
            <td>
                <div>Web Technologies</div>
            </td>
            <td>
                <div>HTML, JavaScript, XML, CSS, JQuery</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    RDBMS
                </div>
            </td>
            <td>
                <div>
                    Oracle, MS SQL Server, DB2, Entity Framework, LINQ
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    Platforms
                </div>
            </td>
            <td>
                <div>
                    Windows, UNIX, LINUX, Mobile, Windows Server Platforms
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    Testing Tools
                </div>
            </td>
            <td>
                <div>
                    JUnit, NUnit, MB Unit, Jira, Bug Zilla, MSTM, QC, TFS, Selenium
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    Version Control
                </div>
            </td>
            <td>
                <div>
                    CVS, SVN, Visual Source Safe, Vault, Git
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    Methodologies
                </div>
            </td>
            <td>
                <div>
                    Agile Methodology, RUP, Waterfall, VModel
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    Cloud Solutions
                </div>
            </td>
            <td>
                <div>
                    Microsoft Azure, SAAS, IAAS, AWS, GCP (Google Cloud Platform)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    Virtualizations
                </div>
            </td>
            <td>
                <div>
                    VMWare ESXI, VMWare Workstation, Hyper V
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    Networking Kit
                </div>
            </td>
            <td>
                <div>
                    Active Directory, Vsphere, VPN Proxy Server
                </div>
            </td>
        </tr>
    </table>
    <p></p><br />
    <table style="width:auto" border="1">
        <tr style="width:auto">
            <td style="background-color:coral" border="solid">
                <div style="font:bold">
                    Management
                </div>
            </td>

            <td style="background-color:coral" border="solid">
                <div style="font:bold">
                    Business Analyst
                </div>
            </td>

            <td style="background-color:coral" border="solid">
                <div style="font:bold">
                    Quality Assurance
                </div>
            </td>

            <td style="background-color:coral" border="solid">
                <div style="font:bold">
                    Development
                </div>
            </td>

            <td style="background-color:coral" border="solid">
                <div style="font:bold">
                    Infrastructure
                </div>
            </td>
        </tr>

        <tr style="width:auto">
            <td style="border:solid">
                System Migrations / Integration, Conversion
            </td>

            <td style="border:solid">
                Requirement Analysis, Traceability Matrix
            </td>

            <td style="border:solid">
                End-2-End testing, User Acceptance Test, Test Plan
            </td>

            <td style="border:solid">
                Web Development, .NET, CSS, Java
            </td>

            <td style="border:solid">
                Windows Server & AD Configure
            </td>
        </tr>

        <tr style="width:auto">
            <td style="border:solid">
                Enterprisewise Implementations & Cloud Technology
            </td>

            <td style="border:solid">
                Business Process Flows, Gap Analysis
            </td>

            <td style="border:solid">
                Technical Writing, Test Case, Reports
            </td>

            <td style="border:solid">
                Build Creation, Release Setup
            </td>

            <td style="border:solid">
                SharePoint Server Configuration
            </td>
        </tr>

        <tr style="width:auto">
            <td style="border:solid">
                Project Scheduling, Costing & Budgeting
            </td>

            <td style="border:solid">
                Vision & Scope Documentation
            </td>

            <td style="border:solid">
                Functional, Regression Testing, Test Scenarios
            </td>

            <td style="border:solid">
                SQL Server, Oracle database Maintenance
            </td>

            <td style="border:solid">
                Team Foundation Configuration
            </td>
        </tr>

        <tr style="width:auto">
            <td style="border:solid">
                SharePoint Sites & Project Server setup for Task Status
            </td>

            <td style="border:solid">
                Business / Functional Requirement Docs
            </td>

            <td style="border:solid">
                Automation Framework & Script writing
            </td>

            <td style="border:solid">
                Web Pages, Forms, Net Beans
            </td>

            <td style="border:solid">
                Project Server & Exchange Server Configure
            </td>
        </tr>
    </table>
    <p></p>
    <table style="width:100%">
        <tr>
            <td>
                <div style="font-size:large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
                    <p>
                        <b>Software Development Engineer in Test - Shrivv Inc.</b>
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="font-size:medium; font-family:'Arial Rounded MT'; background-color:darkgoldenrod; color:blueviolet">
                    @*<p>
                            <b>January 0000 – December 0000</b>
                        </p>*@
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <p>
                        •  	Report defects into Bugzilla prioritize them, writing reproduction steps, Screenshots<br />
                        •	Verify log in putty, check data into Oracle database, Admin. Dashboard updates, etc.<br />
                        •	Backend database testing in Oracle with SQL environment including validating stored procedures, jobs and triggers.<br />
                        •	Designed, executed and maintained Selenium Web Driver (TestNg, JUnit) automated test cases<br />
                        •	Quality Assurance Lifecycle involvement including Estimation, Test Plan, Test Cases, Defect Reporting, Build, Release, Training, Operation support<br />
                        •	Creating an end-to-end test plan; executing the plan and managing all activities in the plan to ensure that all the objectives are met and that the solution works as expected.<br />
                        •	Solution tested in terms of functionality, performance, reliability, stability and compatibility with other legacy and external systems<br />
                        •	Experience in testing the Porting of the application on different Mobile Handset.<br />
                        •	Good understanding of working on the applications developed for touch screen phones.<br />
                        •	Mobile Testing in SOAP UI by using WSDL, REST, XPath Match, JQuery, Insert Assertions, and XQuery Expression for Web Services XML testing, Web API<br />
                        •	Defect Management, data source controls like CVS, SVN over the time for improvements<br />
                        •	Test Manager, Gallio, Cruise Control .NET, Visual Studio, SQL Server, MBUnit Framework<br />
                        •	Keyword Driven Framework setup with Repository, Library Functions, Test Data, Log File<br />
                        •	Plugged in various check points (GUI, Bitmap, Database, Text) to check whether various GUI and field objects meet the requirement specifications<br />
                        •	Complete cycle once again after Creating bug Defects, Email Reporting, Reports & UAT.<br />
                        •	Performed integration, smoke, regression, stress, load, performance, configuration, installation, compatibility, availability, security, usability, recovery & Drive testing<br />
                        •	Performed database testing by passing SQL Queries, Query Profiler to retrieve data.<br />
                        •	Building Selenium Automation Framework using C#, Test Scripts and Test Cases<br />
                        •	Modify Script in CSharp and add Procedures/Functions/Check Point/Database Connection, Variable Declaration, according to page/frame requirements<br />
                        •	Plugged in various check points (GUI, Bitmap, Database, Text) to check whether various GUI and field objects meet the requirement specifications<br />
                    </p>
                </div>
            </td>
        </tr>
    </table>
    <p></p>
    <table style="width:100%">
        <tr>
            <td>
                <div style="font-size:large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
                    <p>
                        <b>Business Analyst - Shrivv Inc.</b>
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="font-size:medium; font-family:'Arial Rounded MT'; background-color:darkgoldenrod; color:blueviolet">
                    @*<p>
                            <b>January 0000 – December 0000</b>
                        </p>*@
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <p>
                        •	Analyzed data from multiple sources and formulated <u>recommendations</u> to advise clients through written research reports, industry updates, and presentations, and gathered requirements for the project<br />
                        •	Handled selection process by, doing a <u>GAP Analysis, Joint Requirement Planning (JRP), Joint Application Development (JAD) sessions, focus groups</u> to allow different stakeholders to communicate their perspectives with each other, resolve any issues.<br />
                        •	Assisted clients in development of Business Requirements by doing a <u>Feasibility Study</u> and <u>Market Analysis</u> to understand the trends<br />
                        •	Implemented full project & software development lifecycle phases including <u>Design and Analysis</u>, Construction, Integration, Quality Assurance, and Installation<br />
                        •	Created <u>vision and scope document</u> as part of Business Modeling to assess success criteria<br />
                        •	Review requirements and understand technical, functional recommendations and <u>constraints</u>, and develop comprehensive and accurate <u>functional specifications; Data Mapping,</u> and <u>process flows</u> and prepared <u>Business Requirement Document (BRD)</u><br />
                        •	Developed Use Case Diagrams, Activity Diagrams, Class Diagrams, and Object-Oriented Design according to the <u>UML methodology</u> to define business processes<br />
                        •	Performed task decomposition, delegate and monitored project milestones using <u>MS Project</u><br />
                        •	Responsible for <u>Use cases, process flows, Wire Frames</u> and using Visio.<br />
                    </p>
                </div>
            </td>
        </tr>
    </table>

    <table style="width:100%">
        <tr>
            <td>
                <div style="font-size:large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
                    <p>
                        <b>Project Co-Ordinator - Shrivv Inc.</b>
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="font-size:medium; font-family:'Arial Rounded MT'; background-color:darkgoldenrod; color:blueviolet">
                    @*<p>
                            <b>January 0000 – December 0000</b>
                        </p>*@
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <p>
                        •	Worked on acceptance and approval of deliverable from the Project Sponsor and Stakeholders.<br />
                        •	Worked on Project Planning, communication, including status reporting, risk management, escalation of issues that cannot be resolved in the team, and making sure the project is delivered in budget, on schedule, and within scope with milestone.<br />
                        •	Leads problem solving activities; investigates and analyses challenging and unique problems; evaluates risks, applies innovative solutions, and seeks new and unique technology, processes and products.<br />
                        •	Provides input into the development of and applies new corporate project management methodology.<br />
                        •	Created SharePoint Sites for each user for tasks management using workflow.<br />
                        •	Develops consultation processes to accomplish objectives; Build & Release Plans.<br />
                        •	Conducted one on one session with the clients to assess client needs and expectations and ensure project delivery within deadline.<br />
                        •	Handled status reporting, client communication & coordinating with the project management team for timely completion and quality maintenance of projects.<br />
                        •	Implemented task tracking methodologies that resulted in optimizing employee's time to finish the tasks, thus enhancing employee efficiency & delivery of task.<br />
                        •	Responsible for streamlining work processes in various teams that include quality control, human resource, communication management and design.<br />
                        •	Contributing to company's growth by means of business development, Client retention and securing strategic partnerships.<br />
                        •	Track and communicate project status to upper management through weekly Excel reports / Team Foundation Server.<br />
                        •	Set and continually manage project expectations with team members and stakeholders.<br />
                        •	Delegate tasks, identify and resolve issues and handled conflicts within the project team.<br />
                        •	Identify and manage project dependencies and critical path.<br />
                        •	Participate in Build and Release plans and procedures in Test / Stage & Production Server.<br />
                        •	involved as a team lead in Project Scheduling, Requirement Analysis, Technology identification, Architectural design, Client Handling, Mentoring of programmers, Performance evaluation<br />
                    </p>
                </div>
            </td>
        </tr>
    </table>

    <table style="width:100%">
        <tr>
            <td>
                <div style="font-size:large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
                    <p>
                        <b>Software Developement Engineer - Shrivv Inc.</b>
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="font-size:medium; font-family:'Arial Rounded MT'; background-color:darkgoldenrod; color:blueviolet">
                    @*<p>
                            <b>January 0000 – December 0000</b>
                        </p>*@
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <p>
                        •	Database  Oracle PL/ SQL, SQL Server - Entity Framework, stored procedures<br />
                        •	Win Forms, Web Form, MVC Forms with CSS3, JQuery JavaScript, AJAX, XML<br />
                        •	Worked extensively with Data Adapter, Dataset, Data reader as part of ADO.NET to access and update database<br />
                        •	Experience in Object Oriented Programming Principles like Encapsulation, Inheritance, Polymorphism, and Abstraction.<br />
                        •	Experienced in Microsoft Team Foundation Server (TFS), Build and Version Controlling.<br />
                        •	Design Patterns, Service Oriented Architecture (SOA) and Agile Methodologies<br />
                        •	Worked with Web Services to retrieve data and implement data<br />
                        •	ASP.NET MVC using Code First Approach in Entity Framework and Razor View Engine<br />
                        •	Error Routine/Trapping on each and every level as well as define log for each track.<br />
                        •	Experience in working with SSIS with ETL Jobs, SSRS, Crystal Reporting<br />
                        •	Experienced in Developing Client server and Web applications using industry standard APIs like OLE-DB, ODBC, ActiveX Data Objects (ADO), Remote Database Objects (RDO), Data Access Objects (DAO) and DTS<br />
                        •	Proficiency in working with VS.NET IDE, debugging tools like Debug and Trace Listeners, Structured exception handling, notification and event logging<br />
                        •	Involved in Modifying Web Pages using CSS and JQuery, Client validation & User controls.<br />
                        •	Writing AJAX JQuery for MVC Web Services to make call for other department applications.<br />
                        •	Implementing & modifying ASP.NET pages with C# for SQL Server database connectivity.<br />
                        •	Created SQL database and writing SQ queries within between tables, stored procedures.<br />
                        •	Designed Data Access layer, Business logic layer and Entity layer using C#<br />
                        •	LinQ-to-Entity query formation and dynamic manipulation in a SOA patterned data service layer presented reflection transformed models to controller-based MVC web tier for presentation in Razor-based views<br />
                        •	Database Design in MS SQL Server includes Database normalization, de-normalization, and security. Store procedure writing for new setup of project like creates database, table, and join queries.<br />
                    </p>
                </div>
            </td>
        </tr>
    </table>

    <table style="width:100%">
        <tr>
            <td>
                <div style="font-size:large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
                    <p>
                        <b>ETL Developement - Shrivv Inc.</b>
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="font-size:medium; font-family:'Arial Rounded MT'; background-color:darkgoldenrod; color:blueviolet">
                    @*<p>
                            <b>January 0000 – December 0000</b>
                        </p>*@
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <p>
                        •	Experience in working with SSIS with ETL Jobs, SSRS, Crystal Reporting<br />
                        •	Changing/ Modifying store procedures / queries for SSIS ETL Jobs
                        •	Updating Users role from AD, Security layers for Front End application Authentication.<br />
                        •	Private cloud infrastructure setup with IaaS(Physical Servers, Virtualization), PaaS(Windows Server), SaaS(Web Application, Visual Studio, Team Foundation Server, SharePoint Server)<br />
                        •	Develop reports complex formulas and to query the database using SSRS and  Developed the SQL Server Integration Services (SSIS) packages to transform data from SQL 2005 to MS SQL 2008<br />
                        •	Worked remotely with (VPN / Citrix / VMWare) Platforms.<br />
                        •	Created Development Environment setup in Private Cloud Environment using Windows Server & SharePoint, SQL Server, Exchange Mail Server and Active Directory.<br />
                        •	Architect & Developed Websites with ASP Pages, Databases & FTP upload settings.<br />
                        •	Created SharePoint Sites for each user for tasks management using workflow.<br />
                        •	Knowledgebase training sessions for Upcoming IT technology to colleague. E.g. Cloud, SharePoint, Business Intelligence, VMWare etc.<br />
                        •	Private cloud setup with Iaas(Physical Servers, Virtualization), PaaS(Windows Server), SaaS(Web Application, Visual Studio, Team Foundation Server, SharePoint Server)<br />
                    </p>
                </div>
            </td>
        </tr>
    </table>
</div>

