@{
    Layout = "~/Views/Shared/Devre_Layout.cshtml";
}
<div>
    <div style="font-size:xx-large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
        <p>
            IT Consulting
        </p>
    </div>
</div>
<table style="width:100%">
    <tr>
        <td style="height:150px; width:25%">
            <asp:Image ID="it_consulting" BorderColor="YellowGreen" BorderStyle="Outset" runat="server" ImageUrl="/Images/consulting.jpg" />
        </td>
        <td style="height:150px; width:75%">
            <div>
                <p>
                    The e-World has created innumerable opportunities for organizations to exploit their core business competencies by transforming their technology infrastructure from business to e-Business. It is imperative that organizations define the right strategy, adopt a viable business model, and choose wisely among the varied technology options.
                </p>
            </div>
        </td>
    </tr>
</table>
<div>
    <b>Our Competencies</b>
    <p>
        Shree, Inc. comprehensive e-Business consulting offerings help clients strategize, architect, build and operate their business in the e-World
    </p><p>
        Shree, Inc. provides solutions to global and Fortune 500 clients, ranging from customer contact centers, through state-of-the-art B-to-B and B-to-C sites, to enterprise decision support applications.
    </p><p>
        Our IT Services group brings you huge pool of resources with expertise spanning across large number of industry domains with many years of practical experience. Our strategy is to form long-term relationships with our clients and offer quality end-to-end complete lifecycle solutions to our clients. Through a combination of proven candidate qualifications our IT services consulting services group consists of following Technology professionals.
    </p>
    <p>Project Managers</p>
    <p>Business Analysts</p>
    <p>Web Developers</p>
    <p>Data warehouse Consultants</p>
    <p>Systems Analysts</p>
    <p>DBA’s Architects</p>
    <p>Software Developers</p>
    <p>Programmer Analysts</p>
    <p>Test specialists</p>
    <p>QA Testers</p>
    <p>Systems Architects</p>

</div>


