@{
    Layout = "~/Views/Shared/Devre_Layout.cshtml";
}
<div>
    <div style="font-size:xx-large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
        <p>
            Mobile
        </p>
    </div>
</div>
<table style="width:100%">
    <tr>
        <td style="height:150px; width:25%">
            <asp:Image ID="mobile_development" BorderColor="YellowGreen" BorderStyle="Outset" runat="server" ImageUrl="/Images/Mobile_Development.jpg" />
        </td>
        <td style="width:75%">
            <div>
                <p>
                    With the advent of smartphones, mobile apps has seen growth of revolutionized manner. Mobile devices (smartphones + tablets) accounted for 55% internet usage. From large corporations to small businesses, has seen their business grow with the adoption of mobile apps. Whether it be basic information about the companies’ services, engaging customer, selling products etc., apps has helped create brand for many.
                </p>
                Shree has experience in creating strategies for companies on how to enter mobile arena, design & developed apps to support their products & services, created responsive design (mobile ready) theme for their website to load properly across all type & size of mobile devices.
            </div>
        </td>
    </tr>
</table>
<div>
    <b><u>We develop mobile apps across following Mobile OSs</u></b>
    <p>iOS</p>
    <p>Android</p>
    <p>Windows</p>

    <p><b>Contact Us For Your Mobile App Requirement</b></p>
    <p>42% of the mobile users have smartphones</p>
    <p>Healthcare & Retail are the largest mobile media category among consumers</p>
    <p>Customers are promoting services & products they use with app + social combo</p>
    <p>72% of tablet owners purchase online from their tablets each week</p>
    <p>60% of consumers search for local businesses on their smartphone</p>
    <p>Mobile coupons get 10x the redemption rate of traditional coupons & Mobile ads get 3x the clicks</p>

</div>


