@{
    Layout = "~/Views/Shared/Devre_Layout.cshtml";
}
<table>
    <tr>
        <td>
            <div>
                Funding Request
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                Financial Details
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                Project Deliverables and Control Matrix
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                Change Request
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                Project Closure
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                Actual Cost Breakdown
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                Projected Cost
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                Project Status Report
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                Project Proposal
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                Project Charter
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                Project Scope
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                Risk Plan
            </div>
        </td>
    </tr>
</table>


