@{
    Layout = "~/Views/Shared/Devre_Layout.cshtml";
}
<div>
    <p>
        Project Charter Executive Summary:
    </p>
    <br />-	Project Goal
    <br />-	Objective
    <br />-	Scope / Out of Scope / Constraints
    <br />-	Assumption
    <br />-	Risk
    <br />-	Cost Estimate
    <br />-	Timeline
    <br />-	Approach (Structure)
    <br />-	Organization
    <br />-	Diagrams

    <p>Deliverables:</p>
    <br />-	 Project Schedule
    <br />-	Logic Modeling
    <br />-	Input & Output Screen Designs
    <br />-	Implementation Plan
    <br />-	Test Plan
    <br />-	Training Plan

    <p>Defining Data: </p>
    <br />-	Consultant Available, How, Where, etc.
    <br />-	Client Available, How, where, etc.

    <p>Considerations:</p>
    <br />-	Business Process, Area, Unit, Location, Data, Application change, Technology changes will affect / changed.

    <p>Milestones: </p>
    <br />-	Project Milestones
    <br />-	Invoice date to client

    <p>Work:</p>
    <br />-	Disaster, Recovery Plan
    <br />-	Support
    <br />-	Hardware Installation, Upgrade, Purchase
    <br />-	Data Integration
    <br />-	System Documentation

    <p>Appendices: </p>
    <br />-	Project Submission
    <br />-	Budget, Operational Budget
    <br />-	Grant Agreement
    <br />-	Action Plan
    <br />-	Reports
    <p>
        <br />Project Overview, Purpose, Assumption, Constraints, Dependencies, Benefits /Success Criteria, Project Issues / Essential Conditions, Work Breakdown Structure (WBS).
    </p>
</div>


