
@{
    ViewBag.Title = "Referrals";
    Layout = "~/Views/Shared/Devre_Layout.cshtml";
}

<h2>Referrals</h2>
<div>
    <div style="font-size:xx-large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
        <p>
            Referrals
        </p>
    </div>
</div>
<table style="width:100%">
    <tr>
        <td style="height:150px; width:25%">
            <asp:Image ID="software_development" BorderColor="YellowGreen" BorderStyle="Outset" runat="server" ImageUrl="/Images/software_development.jpg" />
        </td>
        <td style="height:150px; width:75%">
            <div>
                <p><b><u>Referrals</u></b></p>
                 Referrals outsourcing services from Shree have been designed to deliver the critical financial, productivity, quality and efficiency gains that businesses need to attain global competitiveness. Shree provides the full life cycle of application management services for customized and packaged applications in an industrialized manner through uniform processes and methodologies, using a network of global delivery centers.
                <p></p>
            </div>
        </td>
    </tr>
</table>

