@{
    Layout = "~/Views/Shared/Devre_Layout.cshtml";
}
<div>
    <p>    Risk Management Strategy</p>
    1.	Risk Identification:
    <br />	Risk Assessment Questionnaire
    <br />	Project Planning Risk Assessment checklist
    <br />	Augmented to include other specific risk

    <p>2.	Risk Categorization:</p>

    <p>3.	Risk Impact Assessment:</p>
    Risk Probability / Occurrence
    <br />	Its effect on Project objectives
    <br />	Risk Severity = Impact Score

    <p>4.	Risk Prioritization:</p>

    <p>.	Risk Response Planning:</p>
    <br />	Determine the options & actions to reduce
    <br />	Cost Vs. Expected Effectiveness (Determine)
    <br />	Describe Actions to be taken to mitigate Risk
    <br />	Sign & Symptoms that may indicate Risk event occurrence.
    <br />	Contingency Plan (Action, When Risk Occurs)
    <br />Assign Responsibilities for each agreed-upon response.
    <br />Assign “Due Date” where Risk Response is Time-Sensitive.

    <p>6.	Risk Response Tracking:</p>
    Document for action taken to mitigate Risk, Date, when risk event occurred (contingency plan), any subsequent action taken

    <p>7.	Risk Monitor:</p>
    Ensure all requirements of Risk Management Plan.
    <br />Assess current defined risks as defined in RRP
    <br />Evaluate effectiveness of action taken
    <br />Identify status of actions to be taken
    <br />Validate Previous Assumptions / State New A.
    <br />Identify new Risk & Track Risk – Response.
    <br />Establish Communications.

    <p>8.	Risk Control:</p>
    <br />Assess impact on taken action (Cost, Time & Resources)
    <br />Ensure Change control associated with proposal change.
    <br />Validate mitigation strategies & Alternatives
    <br />Take Corrective action when actual event occur.
    <br />Revise Risk Assessment Queue, checklist, docs, communication, and response plan.
</div>


