@{
    Layout = "~/Views/Shared/Devre_Layout.cshtml";
}
<div>
    <div style="font-size:xx-large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
        <p>
            Software Development and Management
        </p>
    </div>
</div>
<table style="width:100%">
    <tr>
        <td style="height:150px; width:25%">
            <asp:Image ID="software_development" BorderColor="YellowGreen" BorderStyle="Outset" runat="server" ImageUrl="/Images/software_development.jpg" />
        </td>
        <td style="height:150px; width:75%">
            <div>
                <p><b><u>Application Management</u></b></p>
                Application Management outsourcing services from Shree have been designed to deliver the critical financial, productivity, quality and efficiency gains that businesses need to attain global competitiveness. Shree provides the full life cycle of application management services for customized and packaged applications in an industrialized manner through uniform processes and methodologies, using a network of global delivery centers.
                <p></p>
            </div>
        </td>
    </tr>
</table>
<div>
    Our globally aligned model facilitates the delivery of one-stop managed application solutions that reduce your costs, improve quality and efficiency, and streamline the operation to maximize return on your application investment.
    <p><b><u>Our services include:</u></b></p>
    <p>Formulating/rationalizing the application portfolio mix</p>
    <p>Taking over your business applications and their support over a defined time period</p>
    <p>Maintenance of those existing software applications and products</p>
    <p>Extension of those software applications through development/customization</p>
    <p>Implementation and support of packaged enterprise applications as well as legacy and SOA-based custom applications</p>
    <p>Testing services</p>
    <p>software product development and engineering</p>
    <p>Training services</p>
    <p></p>

    Shree has served companies all across the globe from start-ups to mega businesses. We are a leading provider in software Development
    <p></p>
    <p><b>Our Software Development Includes:</b></p>
    <p>CRM Software Application</p>
    <p>Learning Management System</p>
    <p>Management Information Systems</p>
    <p>Systems Packages</p>
    <p>Database Applications</p>
    <p>Web Applications</p>
    <p>Desktop Development</p>
    <p>Product Development</p>
    <p>.Net Development</p>
    <p>PHP Development</p>
    <p>Custom Application</p>
    <p>Ecommerce Development</p>
    <p>Enterprise Portal Solution</p>
    <p>Knowledge Management</p>
    <p>Workflow Management</p>
    <p>Mobile Development</p>
    <p>Open Source Customization</p>

    ... and more
    <p></p>
    Optimize your business processes with the help of Shree, Inc. Our talented developers and consultants have years of successful experience in information architecture and usability engineering. We specialize in managing your project from concept to launch while staying focused on the goals, budgets, and timelines.
    <p></p>
    The past decade has seen tremendous development in the convenience, sophistication and globalization of product-based or bespoke software systems.
    <p></p>
    While these applications have helped organizations run more effectively, they have also grown increasingly complex, with the consequences of failure inhibiting performance and having a detrimental effect on the business. The time and resources required to manage these applications are becoming a significant burden, to the point where they divert critical resources away from other initiatives and have a negative effect on growth and profitability.
    <p><b><u>Some of the common technology and application challenges are:</u></b></p>
    <b>» Lack of control:</b>
    Informal decision making process with unclear roles and responsibilities. Inconsistent methods, process, routines and IT support in place
    <p></p><b>» Business case for change is unclear:</b>
    No competitive benchmarking to compare in-house performance with external delivery model.
    <p></p><b>» Fixed costs of provision:</b>
    Work patterns and requirements for specialized staff are hard to identify. Therefore the in-house team is resourced to manage peak workloads, and is inefficiently staffed for day-to-day requirements.
    <p></p><b>» Hard to adapt:</b>
    Unable to adapt quickly and efficiently to new technologies. Difficulty in scaling resources up or down to meet business requirements.
    Shree understands how the above challenges affect your organization, and has developed its services portfolio to address this need.
    As your applications partner, our unique depth of capability and experience can help unlock additional value from your application portfolio:
    <p></p><b>» Competence:</b>
    We understand that an organization’s applications are strategic business tools, which must be used to improve how the business operates and communicates. We apply that thinking from the earliest stages of our engagement with you, to ensure your solution is specific to your business and your industry.
    <p></p><b>» World class experience:</b>
    We are experts at managing the widest range of applications, with experience of large, complex, flexible outsourcing solutions.
    <p></p><b>» Domain knowledge:</b>
    The scale and scope of our business gives us excellent industry specific knowledge, critical in helping you define the right solution.
    <p></p><b>» Industrialized delivery model:</b>
    Our industrialized service offering is highly tool based and has a strong process orientation. The factory model ensures maximum reusability of components, thus reducing continuous investments across hardware, software and in resources. Our metrics driven approach ensures optimal performance to meet agreed service level agreements while delivering continuous improvement.
    <p></p><b>» Global capability and reach:</b>
    Through our global delivery model, we provide the perfect balance of strategy, technology and business process to meet the challenges of increasing cost effectiveness and delivering performance improvements.
    <p></p>
    We work hard to understand your business needs and we bring cultural sensitivity to the relationship. We’re committed to sharing your vision and accelerating the business improvements to achieve it.
</div>


