@{
    Layout = "~/Views/Shared/Devre_Layout.cshtml";
}
<div>
    <div style="font-size:xx-large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
        <p>
            Vision and Mission
        </p>
    </div>
</div>
<table style="width:100%">
    <tr>
        <td style="height:150px; width:25%">
            <asp:Image ID="vision_mission" BorderColor="YellowGreen" BorderStyle="Outset" runat="server" ImageUrl="/Images/vision-mission.jpg" />
        </td>
        <td style="height:150px; width:75%">
            <div>

                <p><b>VISION STATEMENT</b></p>
                <p>
                    Our Vision is to be a global leader in providing the highest level of IT solutions and services. We strive to exceed our clients expectations and create a workplace in which all employees thrive in a collaborative environment that celebrates excellence
                </p>
            </div>
        </td>
    </tr>
</table>
<div>
    <p><b>MISSION STATEMENT</b></p>
    <p>
        <br />
        Conduct our business according to the highest standards of honesty and integrity. Provide a level of service and support that allows our customers to confidently view us as their preferred solutions provider
    </p>
    <p>
        <br />
        Create a work environment that recognizes the expertise, contributions, and teamwork of our valued employees
    </p>
    <p>
        <br />
        To provide innovative, professional and personalized services to clients, associates and employees.
    </p>
    <p>
        <br />
        We shall be sensitive to the needs of individuals forming a subject of our intervention
    </p>
</div>


