
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Smita_Layout.cshtml";
}
<link href="~/css/smita.css" rel="stylesheet" />
<table style="width:100%">
    <tr>
        <td>
            <div style="font-size:xx-large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
                <p>
                    <b>HIGHLIGHTS</b>
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                <p>
                    •	Highly motivated and dedicated.<br />
                    •	Quick learner, highly adaptability to new methods and systems.<br />
                    •	Volunteer at SBNH for tax clinic.<br />
                    •	Willingness to learn new skills.<br />
                    •	Working Knowledge of double entry<br />
                    •	Exposure to Quick Books 2014 (Intuit Software)<br />
                    •	Accurate and fast typing skills.<br />
                    •	Excellent analytical skill negotiation and remarkable observations.<br />
                    •	Proficient in MS-Office, Software Installation<br />
                </p>
            </div>
        </td>
    </tr>
</table>

<table style="width:100%">
    <tr>
        <td>
            <div style="font-size:xx-large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
                <p>
                    <b>Cinram Inc., Canada</b>
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-size:medium; font-family:'Arial Rounded MT'; background-color:darkgoldenrod; color:blueviolet">
                <p>
                    <b>March 2006 – February 2008</b>
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                <p>
                    •	Reviewing all data entered to ensure its accuracy and completeness.<br />
                    •	Scanning forms and sorting the information on them.<br />
                    •	Experience of work under timely production and target.<br />
                    •	General office duties, answering phones, filing and distributing the post.<br />
                    •	Maintaining employee’s time sheet.<br />
                    •	Sorting, Packing, distribution, scanning barcodes etc.<br />
                </p>
            </div>
        </td>
    </tr>
</table>


<table style="width:100%">
    <tr>
        <td>
            <div style="font-size:xx-large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
                <p>
                    <b>Ambason Inc, Albany, USA</b>
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-size:medium; font-family:'Arial Rounded MT'; background-color:darkgoldenrod; color:blueviolet">
                <p>
                    <b>March 2002 - April 2004</b>
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                <p>                    
                    •	Entering sales data, market survey information and personal information into computer databases.<br />
                    •	Attending incoming and outgoing calls.<br />
                    •	Handling cash transactions and general banking duties.<br />
                    •	Documents filling and attending clients.<br />
                    •	Entering data accurately in computerized databases & Excel spreadsheets.<br />
                </p>
            </div>
        </td>
    </tr>
</table>
<table style="width:100%">
    <tr>
        <td>
            <div style="font-size:xx-large; font-family:'Arial Rounded MT'; background-color:yellow; color:blueviolet">
                <p>
                    <b>Wimco Limited, India</b>
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-size:medium; font-family:'Arial Rounded MT'; background-color:darkgoldenrod; color:blueviolet">
                <p>
                    <b>December 2000 - February 2001</b>
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                <p>
                    •	Preparing invoices and handling cash transaction.<br />
                    •	Monitoring customer accounts for non-payment and delayed payment.<br />
                    •	Transferring data onto online order forms.<br />
                    •	General ledger entry including accruals and prepayments.<br />
                    •	General office duties (filling, scanning, faxing documents).<br />
                    •	Entering data from hand written, printed or typed documents.<br />
                </p>
            </div>
        </td>
    </tr>
</table>
