@{
    Layout = "~/Views/Shared/Devre_Layout.cshtml";
 }
<div style="width:100%">
    <table style="width:100%">
        <tr>
            <td style="width:75%; height:150px">
                <div>
                    <p>
                        <a href="https://www.linkedin.com/in/devreshrikant/">https://www.linkedin.com/in/devreshrikant<br /></a>
                        <a href="https://github.com/DEVRESHRIKANT/Shree_Web_Automation.git">https://github.com/DEVRESHRIKANT/Shree_Web_Automation.git<br /></a>
                        <a href="https://dev.azure.com/devreshrikant/Shree/_git/Shree">https://dev.azure.com/devreshrikant/Shree/_git/Shree<br /></a>
                        Phone/Email:  236-885-5806 / DevreBC@Gmail.Com<br />
                    </p>
                </div>
            </td>
            <td style="height:150px; width:25%">
                <img id="corporate"; src="~/Images/MCAD.png">
            </td>
        </tr>
        <tr>
            <td>
                @*<p>
                    <iframe src="@Url.Action("MyPdf")" name="_self" style="width:100%;  height:100%">
                    </iframe>
                </p>
                <a href="@Url.Content("~/MyPdf.pdf")" target="_self">Master Plan</a>*@
            </td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td>
                <div>
                    <p>
                        <b>SUMMARY</b>
                    </p>
                </div>
            </td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td>
                <div>
                    <p>
                        	Over 10 Years of experience in Information Technology & 7 Years+ in Quality Assurance<br />
                        	Proficient Knowledge in Client/Server, web based, windows, mobile testing<br />
                        	Professional designing, developing and implementing test plan, cases, scenarios, defects<br />
                        	Agile Methodology - Sprint Cycle & Scrum meeting, Product backlog, Future planning<br />
                        	Performance & Functional - SOAP UI by using WSDL, REST, XPath Match, JQuery<br />
                        	Database -  writing query in Oracle / MS SQL Server database and used Query Profiler<br />
                        	Automation tools - Selenium, HP (Quality Center, Quick Test Professional), C# (MTM)<br />
                        	Automation Framework - Building framework, test scripts, Continuous Integration.<br />
                        	Test Cycle - Functional, Integration, Regression, Performance, User Acceptance, Unit<br />
                        	Proficient in Bug scrum / defect review meeting for prioritization of defects to Fix<br />
                        	Professional in maintaining requirements trace matrix (RTM).<br />
                        	Mobile Applications Testing involved developed on Android, Symbian and iOS platforms<br />
                        	Proficient in Problem solving, Process improvement activities, Analytical skill, Reporting<br />
                        	Clear communicator - to ensure ability to write test plans and test cases. To communicate bugs to developers and other stakeholders<br />
                        	Deadlines and deliverables - to ensures the ability to find the bad defects and bugs quickly<br />
                        	Think abstract - to ensure ability not conform to the norm. Norms do not find bugs quickly.<br />
                    </p>
                </div>
            </td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td>
                <p>
                    <u><b>TECHNICAL SKILLS</b></u>
                </p>
            </td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td><div>Languages</div></td>
            <td><div>C#, Java, SQL, PL/SQL, UML, Power Shell</div></td>
        </tr>
        <tr>
            <td>
                <div>Web Technologies</div>
            </td>
            <td>
                <div>HTML, JavaScript, XML, CSS, JQuery</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    RDBMS
                </div>
            </td>
            <td>
                <div>
                    Oracle, MS SQL Server, DB2, Entity Framework, LINQ
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    Platforms
                </div>
            </td>
            <td>
                <div>
                    Windows, UNIX, LINUX, Mobile, Windows Server Platforms
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    Testing Tools
                </div>
            </td>
            <td>
                <div>
                    JUnit, NUnit, MB Unit, Jira, Bug Zilla, MSTM, QC, TFS, Selenium
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    Version Control
                </div>
            </td>
            <td>
                <div>
                    CVS, SVN, Visual Source Safe, Vault, Git
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    Methodologies
                </div>
            </td>
            <td>
                <div>
                    Agile Methodology, RUP, Waterfall, VModel
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    Cloud Solutions
                </div>
            </td>
            <td>
                <div>
                    Microsoft Azure, SAAS, IAAS, AWS, GCP (Google Cloud Platform)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    Virtualizations
                </div>
            </td>
            <td>
                <div>
                    VMWare ESXI, VMWare Workstation, Hyper V
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    Networking Kit
                </div>
            </td>
            <td>
                <div>
                    Active Directory, Vsphere, VPN Proxy Server
                </div>
            </td>
        </tr>
    </table>
</div>